<section>
    <div class="accordion-container">
       <div class="accordion-button">Event 1</div>
       <div class="accordion-item">
            <p>t</p>
            <p>e</p>
            <p>s</p>
            <p>t</p>
       </div>
       <div class="accordion-button" >Event 2</div>
       <div class="accordion-item">
           <img src="../css/images/test.png" width="200ox" height="200px" alt="">
       </div>
       <div class="accordion-button">Event 3</div>
       <div class="accordion-item">
        <img src="../css/images/test.png" width="200ox" height="200px" alt="">
       </div>
       <div class="accordion-button">Event 4</div>
       <div class="accordion-item">
            <img src="../css/images/test.png" width="200ox" height="200px" alt="">
       </div>
    </div>
</section>