<section class="comments-section">
    <div class="comment-sent-container rotate-in" hidden>
        <p>Gracias por tu comentario!</p>
        <p>Espero que disfrutes nuestra obra!</p>
        <button type="button" class="action-button" id="send-again-button">Enviar otro comentario</button>
    </div>
    <form class="comments-form rotate-in">
        <div class="center-title">
            <h2>Deja Tu comentario</h2>
        </div>
        <div class="form-input">
            <input type="text" name="name" id="name-input" placeholder="Ingrese su Nombre">
        </div>
        <div class="form-input">
            <div class="bati-scores-container">
                <div class="bati-score-label">
                    <label for="">Bati-Puntos:</label>
                </div>
                <div class="bati-scores">
                    <div class="bati-score">
                        <img src="../css/images/batman-logo.png" width="30px" height="20px" alt="">
                    </div>
                    <div class="bati-score" >
                        <img class="vote-logo-inactive" src="../css/images/batman-logo.png" alt="batman-logo">
                    </div>
                    <div class="bati-score">
                        <img class="vote-logo-inactive" src="../css/images/batman-logo.png" alt="batman-logo">
                    </div>
                    <div class="bati-score">
                        <img class="vote-logo-inactive" src="../css/images/batman-logo.png" alt="batman-logo">
                    </div>
                    <div class="bati-score">
                        <img class="vote-logo-inactive" src="../css/images/batman-logo.png"  alt="batman-logo">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-input">
            <textarea name="" id="comments-area" cols="50" rows="10"></textarea>
        </div>
        <div class="form-input centered">
            <button type="button" class="action-button" id="send-button">Enviar</button>
        </div>
    </form>
    <div class="batman-logo-container">
        <img src="../css/images/batman-logo.png"  width="75px" height="50px" alt="batman-logo">
    </div>
</section>
