<section>
    <div class="home-section-container">
        <div class="paralax-container">
                


        </div>
        <div class="countdown-container">
            <div class="countdown-label">
                <p>El estreno se acerca: </p>
            </div>
            <div class="countdown-area">
                <div class="countdown"></div>
            </div>
        </div>
        <!-- Start  of Grid component -->
        <div class="cast-grid-container">
            <div class="cast-label">
                <p>Casting:</p>
            </div>
            <div class="cast-grid">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" id="cast-1-f">
                            <div class="text-container">
                                <p>Nombre actor</p>
                                <p>Edad</p>
                                <p>Interpreta a: Batman</p>
                                <p>Otras apariciones: a, b , c</p>
                            </div>
                        </div>
                        <div class="flip-card-back" id="cast-1-b">
                            <div class="text-container back-text">
                                <p>Batman</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" id="cast-2-f">
                            <div class="text-container">
                                <p>Nombre actor</p>
                                <p>Edad</p>
                                <p>Interpreta a: Batman</p>
                                <p>Otras apariciones: a, b , c</p>
                            </div>
                        </div>
                        <div class="flip-card-back" id="cast-2-b">
                            <div class="text-container back-text">
                                <p>Gatubela</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" id="cast-3-f">
                            <div class="text-container">
                                <p>Nombre actor</p>
                                <p>Edad</p>
                                <p>Interpreta a: Batman</p>
                                <p>Otras apariciones: a, b , c</p>
                            </div>
                        </div>
                        <div class="flip-card-back" id="cast-3-b">
                            <div class="text-container back-text">
                                <p>El pinguino</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" id="cast-4-f">
                            <div class="text-container">
                                <p>Nombre actor</p>
                                <p>Edad</p>
                                <p>Interpreta a: Batman</p>
                                <p>Otras apariciones: a, b , c</p>
                            </div>
                        </div>
                        <div class="flip-card-back" id="cast-4-b">
                            <div class="text-container back-text">
                                <p>Acertijo</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" id="cast-5-f">
                            <div class="text-container ">
                                <p>Nombre actor</p>
                                <p>Edad</p>
                                <p>Interpreta a: Batman</p>
                                <p>Otras apariciones: a, b , c</p>
                            </div>
                        </div>
                        <div class="flip-card-back" id="cast-5-b">
                            <div class="text-container back-text">
                                <p>Alfred</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" id="cast-6-f">
                            <div class="text-container">
                                <p>Nombre actor</p>
                                <p>Edad</p>
                                <p>Interpreta a: Batman</p>
                                <p>Otras apariciones: a, b , c</p>
                            </div>
                        </div>
                        <div class="flip-card-back" id="cast-6-b">
                            <div class="text-container back-text">
                                <p>Jim Gordon</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Grid component -->
        <div class="slider-container">
            <div class="slider-label">
                <p>Escenas de la película:</p>
            </div>
            <div class="image-container">
                <div id="left-button" class="slider-button"></div>
                <img src="css/images/slider/beach.jpeg" class="image active" alt="beach">
                <img src="css/images/slider/desert.jpg" class="image" alt="desert">
                <img src="css/images/slider/jungle.jpg" class="image" alt="jungle">
                <div class="indexes-container">
                    <div class="image-index active-image"></div>
                    <div class="image-index"></div>
                    <div class="image-index"></div>
                </div>
                <div id="right-button" class="slider-button"></div>
            </div>
        </div>
    </div>
</section>