* {
    margin: 0;
    padding: 0;
}

#viewport {
    width: 100vw;
    height: 100vh;
    position: relative;
}

canvas {
    position: absolute;
    background-color: transparent;
    left: 10%;
    top: 5%;
}
