* {
    margin: 0;
    padding: 0;
}


.game-container {
    display: flex;
    justify-content: center;
}

#viewport {
    width: 1200px;
    position: relative;
}

canvas {
    position: absolute;
    background-color: transparent;
    cursor: pointer;
}

body { 
    background-image: url('../images/background.jpg');
}

.reset-container {
    width: 98vw;
    display: flex;
    justify-content: center;
}

#reset {
    font-weight: bolder;
    font-size: 22px;
    color: white;
    stroke-width: 1px;
    -webkit-text-stroke: 1px black;
    background-color: #66552e;
    height: 50px;
    width: 150px;
    cursor: pointer;
    border: 2px solid black;
}

#reset:hover {
    background-color: #4e4428;
}

#reset:active {
    transform: translateY(3px);

}

#reset:focus {
    outline: none;
    box-shadow: none;
}
