* {
    margin: 0;
    padding: 0;
}

.icon-container {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    box-sizing: border-box;
}

.config-icon-container {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    box-sizing: border-box;
}

#logo-container {
    height: 10%;
    border: 1px solid black;
    box-sizing: border-box;
}

#edition-tools-container {
    height: 20%;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#pencil-control {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#pencil-config-container {
    position: absolute;
    height: 10%;
    width: 25%;
    border: 1px solid black;
    left: 7%;
    background-color: white;
    z-index: 100;
}

.pencil-cursor {
    cursor: url('../assets/cursors/pencil-cursor.png'), auto;
}

.eraser-cursor {
    cursor: url('../assets/cursors/eraser-cursor.png'), auto;
}

#eraser-control {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#eraser-config-container {
    position: absolute;
    height: 10%;
    width: 25%;
    border: 1px solid black;
    left: 7%;
    background-color: white;
    z-index: 100;
}

#filters-container {
    height: 60%;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#data-tools-container {
    margin-top: 10vh;
    height: 80vh;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;  
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

#canvas {
    border: 1px solid black;
    box-sizing: border-box;
}

.hide {
    display: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Colors */ 

.bg-primary { 
    background-color: rgb(85, 85, 85);
}

