.layer {
    position: absolute;
}

.layer-1 {
    bottom: 150px;
    z-index: 2;
    animation: move-backwards 200s linear infinite;
}

.layer-2 {
    bottom: 150px;
    z-index: 2;
    animation: move-backwards 200s linear infinite;
}

.layer-3 {
    bottom: 100px;
    z-index: 3;
    animation: move-backwards 40s linear infinite;
}

.layer-4 {
    bottom: 100px;
    z-index: 4;
    animation: move-backwards 15s linear infinite;
}

.layer-5 {
    bottom: 0;
    z-index: 5;
    animation: move-backwards 5s linear infinite;
}

@keyframes move-backwards {
    0% {
        left: 0;
    }
    100% {
        left: -1200px;
    }
}

