.layer {
    position: absolute;
}

.sky-layer {
    bottom: 150px;
    z-index: 1;
    animation: move-backwards 2000s linear infinite;
}

.moon-layer {
    top: 5px;
    right: 10px;
    z-index: 2;
    animation: move-backwards-moon 1000s linear infinite;
}

.signal-layer {
   
}

.back-building-layer {
    bottom: 100px;
    z-index: 4;
    animation: move-backwards 40s linear infinite;
}

.logo-layer{
    z-index: 5;
    bottom: 200px;
    left: calc(50% - 300px);
}

.front-building-layer {
    bottom: 100px;
    z-index: 6;
    animation: move-backwards 15s linear infinite;
}

.street-layer {
    bottom: 0;
    z-index: 7;
    animation: move-backwards 5s linear infinite;
}



@keyframes move-backwards {
    0% {
        left: 0;
    }
    100% {
        left: -1200px;
    }
}

@keyframes move-backwards-moon {
    0% {
        right: 10px;
    }
    100% {
        right: 1200px;
    }
}

